* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #f5f0e7;
}

/* HEADER */
header {
    background-color: #e1d0b8;
    padding: 10px 20px;
}

.top-bar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding-bottom: 10px;
}

nav {
    display: flex;
    justify-content: flex-start; 
    flex-grow: 1;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #5c4636;
    font-weight: bold;
    padding: 10px;
    transition: background-color 0.3s ease;
    border-radius: 10px;
}

nav ul li a.active, nav ul li a:hover {
    background-color: #b09d7d;
    color: white;
}

.search-container {
    display: flex;
    justify-content: center; 
    margin: 10px 20px; 
}

.search-bar {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 300px; 
}

.contact-btn {
    background-color: #b09d7d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-btn:hover {
    background-color: #917c5e;
}

.logo {
    text-align: center;
    padding: 20px 0;
}

.logo h1 {
    color: #5c4636;
    font-size: 36px;
}

.about-section {
    display: flex;
    justify-content: center; /* Mencenter secara horizontal */
    align-items: center; /* Mencenter secara vertikal */
    min-height: 100vh; /* Mengatur tinggi minimal agar elemen mencakup seluruh layar */
    position: relative; /* Memastikan elemen overlay bekerja dengan baik */
    text-align: center;
    background-color: #f5f0e7;
}

.about-content {
    z-index: 1; /* Mengatasi tumpang tindih dengan overlay */
    max-width: 800px; /* Membatasi lebar maksimal konten */
    padding: 20px;
}

.icon img {
    width: 300px; /* Sesuaikan ukuran ikon */
    height: auto;
    margin-bottom: 20px; /* Jarak antara ikon dan teks */
}
